[class^="icon"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-loading {
  width: 64px;
  height: 64px;
  background-image: url("../../../images/ico/loading.svg");
}
